In [3]:
def celsius_fahrenheit():
    # F = (C*9/5)+32
    fahrenheit = (22*9/5)+32
    print (fahrenheit)
    return fahrenheit

In [4]:
celsius_fahrenheit()

71.6

71.6

In [5]:
def celsius_fahrenheit(C):
    # F = (C*9/5)+32
    fahrenheit = (C*9/5)+32
    print (fahrenheit)
    return fahrenheit

In [6]:
celsius_fahrenheit()

TypeError: celsius_fahrenheit() missing 1 required positional argument: 'C'

In [7]:
celsius_fahrenheit(100)

212.0

212.0

In [8]:
#make function to convert F to C

In [9]:
def fahrenheit_celsius(F):
    # F = (C*9/5)+32
    celsius = (F-32)*5/9
    return celsius

In [10]:
fahrenheit_celsius(100)

37.77777777777778

In [20]:
import pandas as pd

In [21]:
dem_health_data = pd.read_csv("Dem_Health_Full.txt", sep="\t")

In [22]:
dem_health_data.head(20)

,County,State,Population_Density,Poverty,Infant_Mortality,Suicide,Total_Births,Total_Deaths
0,Autauga,AL,82,10.4,5.9,16.6,3048.0,1867.0
1,Baldwin,AL,102,10.2,7.1,14.3,5471.0,4388.0
2,Barbour,AL,32,22.1,7.1,10.3,1835.0,1538.0
3,Bibb,AL,35,16.8,9.8,14.8,2801.0,2012.0
4,Blount,AL,86,11.9,9.0,14.4,3318.0,2453.0
5,Bullock,AL,18,26.2,13.3,-1111.1,1604.0,1381.0
6,Butler,AL,27,20.0,5.8,11.9,2874.0,2857.0
7,Calhoun,AL,184,16.4,9.5,13.6,4429.0,3915.0
8,Chambers,AL,59,16.2,7.5,12.8,2271.0,2424.0
9,Cherokee,AL,44,15.2,7.4,17.7,2659.0,2609.0
10,Chilton,AL,60,14.9,10.5,13.3,2671.0,2065.0
11,Choctaw,AL,16,18.7,10.8,9.4,2152.0,1742.0
12,Clarke,AL,22,19.2,7.1,8.9,1984.0,1444.0
13,Clay,AL,23,14.0,10.2,11.2,1748.0,1706.0
14,Cleburne,AL,26,14.0,7.0,30.1,1706.0,1540.0
15,Coffee,AL,67,13.7,2.9,13.1,2762.0,2210.0
16,Colbert,AL,92,14.0,8.2,15.1,3166.0,3087.0
17,Conecuh,AL,16,22.0,14.4,13.2,1872.0,1832.0
18,Coosa,AL,17,13.4,13.9,-1111.1,1273.0,1174.0
19,Covington,AL,36,17.5,6.2,10.7,2247.0,2499.0

In [26]:
def get_urban(df):
    urban = df.loc[df['Population_Density'] >= 1000,
                  :]
    return urban

In [27]:
urban_county = get_urban(dem_health_data)

In [28]:
urban_county.head(21)

,County,State,Population_Density,Poverty,Infant_Mortality,Suicide,Total_Births,Total_Deaths
184,Alameda,CA,1964,10.7,4.8,7.6,65423.0,29143.0
190,Contra Costa,CA,1414,7.5,4.0,9.4,39653.0,20836.0
202,Los Angeles,CA,2447,17.7,5.4,7.9,457033.0,181018.0
213,Orange,CA,3785,10.6,4.7,7.6,135702.0,51060.0
217,Sacramento,CA,1412,13.7,5.6,10.9,58592.0,28774.0
221,San Francisco,CA,15837,12.0,3.9,11.0,25255.0,18969.0
224,San Mateo,CA,1558,6.8,4.1,7.1,30483.0,14256.0
226,Santa Clara,CA,1316,8.8,4.0,7.6,81257.0,26130.0
258,Denver,CO,3638,15.1,6.7,14.2,34354.0,13530.0
306,Fairfield,CT,1443,7.3,5.3,6.3,36336.0,21011.0
307,Hartford,CT,1193,9.2,6.3,7.6,31212.0,23682.0
310,New Haven,CT,1398,9.4,6.8,7.6,30738.0,23078.0
315,New Castle,DE,1227,8.2,9.4,11.1,21109.0,12346.0
317,Washington,DC,8966,17.5,10.9,6.0,22742.0,17375.0
323,Broward,FL,1475,12.5,6.5,13.3,67007.0,48248.0
332,Duval,FL,1068,12.8,10.3,14.5,36661.0,20511.0
345,Hillsborough,FL,1077,13.0,8.7,12.6,45253.0,26268.0
360,Miami-Dade,FL,1221,18.9,5.9,9.1,97091.0,55624.0
365,Orange,FL,1127,13.2,7.5,9.9,43304.0,19432.0
369,Pinellas,FL,3315,12.1,7.6,16.3,27592.0,37641.0
376,Seminole,FL,1303,9.1,5.5,13.0,13633.0,8050.0

In [29]:
def split_county_by_pop(df, threshold):
    urban = df.loc[df['Population_Density'] >= threshold, :]
    rural = df.loc[df['Population_Density'] < threshold, :]
    return [urban, rural]

In [30]:
urban_rural_county = \
split_county_by_pop(dem_health_data, 500)

In [35]:
urban_rural_county[1].describe()

,Population_Density,Poverty,Infant_Mortality,Suicide,Total_Births,Total_Deaths
count,2906.000000,2905.000000,2638.000000,2906.000000,2906.000000,2906.000000
mean,71.629732,13.512978,7.438249,-186.677392,3006.689539,2154.240812
std,101.706864,4.874704,2.922316,431.632144,5105.411547,2394.266963
min,-2222.000000,2.200000,0.000000,-2222.200000,-2222.200000,-2222.200000
25%,15.000000,10.000000,5.500000,8.400000,1249.750000,1115.000000
50%,39.000000,12.700000,7.100000,12.000000,2145.500000,1792.000000
75%,86.000000,16.300000,9.000000,15.000000,3391.250000,2602.250000
max,498.000000,36.200000,23.700000,91.300000,171452.000000,70409.000000

In [36]:
urban_rural_county[0].shape()

TypeError: 'tuple' object is not callable